body {
  font-family: Arial;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  background-color: #ddd;
}

nav li {
  padding: 1em;
  color: black;
}

nav a {
  color: inherit;
}

/* HOVER + SYNC */
nav li:hover {
  background-color: black;
  color: white ;
}